body {
    background-image: linear-gradient(rgb(247, 167, 76), rgb(255, 208, 0));
    text-align: center;
    border-color: black;
    border-style: dashed;
}

#ima1 {
    border-color: brown;
    border-style: ridge;
}

#ima2 {
    width: 39%;
    border-color: black;
    border-style: ridge;
}

#ima3 {
    border-color: yellow;
    border-style: ridge;
}

#tittle {
    color: brown;
}

#violao1 {
    color: antiquewhite;
}

#violao2 {
    color: rgb(149, 78, 22);
}

#violao3 {
    color:rgb(184, 134, 11);
}